.containerp{
    border:black solid;
    width:650px;
    height: 600px;
    border-radius: 35px;
    margin-left: 15px;
    margin-left: 15px;
    margin-top: 20px;
    position: absolute;
    left: 830px;
    top: 50px;
    margin-right: 14px;
   
    
}